<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/images.css" />
<!-- The use of campground[title] and campground[location]  is a way of organizing the form data. When the form is submitted, the server will receive the data in a structured way, where the data for the title will be grouped under the "campground"  -->
<!-- HTML forms natively support only two HTTP methods: GET and POST. To work around this limitation and enable other HTTP methods like PUT, DELETE, etc., the concept of "method-override" is used. -->

<div class="row mb-3">
  <h1 class="mb-3 text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- Campground Title -->
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Enter Campground Title"
          value="<%= campground.title %>"
          required
        />
        <label for="title">Title</label>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter campground name.</div>
      </div>

      <!-- Campground Location -->
      <div class="form-floating mb-3">
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="Enter Campground Description"
          value="<%= campground.location %>"
          required
        />
        <label for="location">Location</label>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter campground location.</div>
      </div>

      <!-- Campground Price -->
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <div id="price-label" class="form-floating">
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="Enter Price"
            name="campground[price]"
            aria-describedby="price-label"
            value="<%= campground.price %>"
            required
          />
          <label for="price">Campground Price</label>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter campground price.</div>
      </div>

      <!-- Campground Description -->
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Campground Description"
          name="campground[description]"
          id="description"
          style="height: 80px"
          required
        >
<%= campground.description %></textarea
        >
        <label for="description">Description</label>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter campground description.</div>
      </div>

      <!-- Campground Image url -->
      <div class="mb-3">
        <label class="form-label">Add more Image(s)</label>
        <div class="form-file custom-file">
          <input
            class="form-control custom-file-input"
            type="file"
            id="image"
            name="image"
            multiple
            onchange="previewMultiple(event)"
          />
          <label
            for="image"
            class="form-label custom-file-label text-body-secondary"
          ></label>
        </div>
        <div id="formFile"></div>
      </div>

      <!-- Display Images -->
      <div class="mb-3">
        <% campground.images.forEach(function(img, i) { %>
        <img src="<%= img.url %>" class="img-thumbnail" alt="" />
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="image<%= i %>" name="deleteImages[]" value="<%= img.filename %>"/>
          <label class="form-check-label" for="image<%= i %>"> Delete? </label>
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back To Campgrounds</a>
  </div>
</div>
